#tags > .tag-case{
    margin-bottom: 10px;
}

#tags > .tag-case > span{
    display: inline-block;
    padding: 2px 6px;
    margin: 3px 0;
    border-radius: 3px;
    background: #5bc0de;
    color: #fff;
}

#tags .close{
    color: #fff;
    padding-top: 5px;
    padding-left: 8px;
    font-size: 12px;
    opacity: 1;
}