.trumbowyg-box, .trumbowyg-editor{
    margin: 0 !important;
}

.margin-bottom{
   margin-bottom: 18px; 
}

.margin-large-bottom{
    margin-top: 28px;
}

.margin-top{
   margin-top: 18px;
}

.margin-large-top{
    margin-top: 28px;
}

.width-1{
    width: 100%;
}


#loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
    z-index: 10000;
    transition: 0.3s;
    transform: scale(1.7);
}

#loader.active{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

#loader > .fa{
    color: #fff;
    font-size: 42px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -21px;
    margin-top: -21px;
}


#form-edit-post .popover,
#form-add-post .popover{
    left: 0 !important;
}